.client {
  display: flex;
  align-items: center;
}



.left-col {
  width: 60%;
  float: left;
  margin: 4%;
}

.sidebar {
  width: 26%;
  float: left;
  margin: 4%;
}

.sidebar img {
  vertical-align: middle;
}


.one-third-port {
  width: 30.33333333%;
  padding: 1%;
  margin: 1%;
  float: left;

  .project-title {
    text-align: center;
    color: $text-color;
    padding: 1%;
    
  }

  .photo-label {
    text-align: center;
  }

}

.one-half-port {
  width: 46%;
  padding: 1%;
  margin: 1%;
  float: left;

  

  .photo-label {
    text-align: center;
  }

}

#about {
  .post-content img {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1rem;
  }
  .post-content p::first-letter {
    font-family: 'Work Sans', serif;
    font-weight: 300;
    font-size: 140%;
    font-style: normal;
  }
}


.contact p {
  text-align: center;
  letter-spacing: 2px;
}

.contact a {
  color: $text-color;
  text-decoration: none;
}

a.catalogue:hover {
  color: $greeny-accent;
}


.clearfix {
  clear: both;
  height: 1.5%;
}


