.parallax {
  min-height: 350px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


@media(max-width:568px){
  .parallax {
    background-attachment:scroll;
  }
}
