{% extends 'words/index.html' %}
{% load static %}

{% block content %}
<section class="intro">
  <nav>
    <a href="#" id="menu-icon"></a>
    <ul>
      <li><a href="#port">projects</a></li>
      <li><a href="#words">words</a></li>

      <li><a href="#contact">connect</a></li>

      <li><a href="#about">about</a></li>
    </ul>
  </nav>
</section>
<a name="port">
  <a href="{% url 'photos' %}">
    <h2>Projects</h2>
  </a>
  {% for project in projects %}
  <section class="one-third-port">

    <img src="{{ project.image1.url}}" alt="">
    <a href="{% url 'project-detail' project.pk %}">
      <p class="photo-label">{{ project.title }}</p>
    </a>

  </section>
  {% endfor %}
  <div class="clearfix"></div>

  <section id="words">
    <a href="{% url 'words' %}">
      <h2>Words</h2>
    </a>
    <div class="posts-intro">
      <div class="words-intro">
        <p>This website will carry regular blogs about events, the process of taking photos, photo subjects and other
          cathartic moments that may arise. The purpose of this blog is to provide time and space to the idea of
          artistic investigation. It is not meant to explain what I have done, but rather sit on its own and to help
          develop greater perspective or story about my work. I hope that you find some interest in this exploration. By
          joining the mailing list, you will receive notice of new piece of writing and/or photo project. We will not
          send more than one notice per entry.
        </p>
      </div>
      <div class="words-latest-img">
        <img src="{{ latest.post_image.url }}" alt="">
      </div>
      <div class="words-latest">

        <div class="post-title">
          <h3 class="title">{{ latest.title }}</h3>

        </div>
        <div class="post-date">
          <small class="date">{{ latest.published_date|date:"F d, Y"}}</small>
        </div>
        <div class="post-content mt-5">

          <p class="content">{{ latest.content|truncatewords:50|safe }}</p>
          <a href="{% url 'details' latest.pk %}">Read the full article....</a>
        </div>
      </div>


    </div>
  </section>
  <div class="clearfix"></div>



  <section id="contact">
    <section class="parallax" style="background: url('{{ parallax_img.parallax_image.url }}') fixed top">
      <div class="parallax-inner">
      </div>
    </section>
    <div class="clearfix"></div>
    <h2>Connect</h2>
    <section class="contact">
      <p>bobbieb <br class="break"><a class="catalogue"
          href="mailto:bobbiebphotography@gmail.com">bobbiebphotography@gmail.com</a>
        <br class="break"> Guelph, Ontario
      </p>
    </section>
    <section>
      <ul class="social">
        <li><a href="#" target="=_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" target="=_blank"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </section>
  </section>
  <div class="clearfix"></div>
  <section id="about">

    <h2>BobbieB</h2>
    <div class="posts-container">

      <div class="post-content">
        <img src="{% static 'words/images/bb.png' %}" alt="BobbieB">
        <p>Launching a website seems a natural progression for an artist/educator who has left the formal teaching world
          for fine art photography. Making suggestions to others for so many years has made me acutely aware of the
          intertwining roles that artists and audiences have, and I am excited to enter this next phase of my artistic
          journey.</p>
        </p>
        <p>However, having my private artistic expressions revealed to the world is rather like having the door to the
          outhouse fly open unexpectedly. But, sharing is the obligation of each contributor – introducing a piece
          deepens our learning about the world and ourselves, and that is our main purpose. We need one another. Join me
          in the pursuit of creating fine photos and words that investigate special moments and techniques.</p>
        <p>I am also available for portrait and candid wedding photography. Send me a note and we can collaborate.</p>

      </div>
    </div>

  </section>
  <div class="clearfix"></div>


  {% endblock content %}