{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bobbieb</title>
  <script src="https://kit.fontawesome.com/8f3e23e397.js" crossorigin="anonymous"></script>
  <link href="{% static 'words/css/words.css' %}" rel="stylesheet">
  <link rel="icon" href="{% static 'words/images/bobbiebLogo.png' %}" type="image/icon type">
</head>

{% block extra-head %}{% endblock extra-head %}

<body>
  {% block content %}{% endblock content %}
  <footer class="second">
    <p>
    <a href="{% url 'home' %}">Home</a> | 
    <a href="{% url 'photos' %}">Photos</a> |
    <a href="{% url 'words' %}">Words</a> |
    <a href="#">Privacy</a></p>
    <p>&copy2021 bobbiebphotography</p>
  </footer>
</body>

</html>