{% extends 'words/index.html' %}
{% load static %}

{% block content %}
<div class="words-image w-100">
  <img src="{% static 'words/images/PrivacyHeader.png' %}" alt="Privacy Header">
</div>
<div class="words-intro">
  <h2>We value your privacy.</h2>

  <p>We value your interest in this site and collect information to that point. We will collect
    and retain your name
    and
    email address for the purpose of sending you requested blog notices and the occasional special offers on
    photography
    sessions or prints. This information will not be shared with other websites or platforms without your consent. You
    have the right to remove yourself from the mailing list at any time and your information will be erased from this
    website. If you have an interest in purchasing a photo or a session, those transactions will take place outside of
    this website. If you decide to share a blog or photo from this site on a social media platform, you are subject to
    that site’s privacy policy. </p>
  <p>Cookies are used to improve your experience on this site. The cookies will remember you in future visits and if
    you
    have expressed interest in items or sessions, it will recall this for you. </p>

</div>
{% endblock content %}